<div id="entries">
  <div class="card" id="time-entry_new">
    <div class="time-entry_middle">
      <a href="#/new" class="time-entry_new--icon"><i class="fi-clock"></i></a>
      <span>New Entry</span>
    </div>
  </div>
</div>
