%header
  .company-header
    %h1
      %i.fi-widget
      Widget Confabulators TimeTracker
      %i.fi-widget
  %hr
  .employee-header
    %h2
      Time entries for
      = current_user.email
#timetracker
%footer
